.cart{
    
    background-image: url('https://previews.123rf.com/images/afanasia/afanasia1608/afanasia160800195/64189834-dibujado-a-mano-l%C3%BApulo-patr%C3%B3n-transparente-vector-de-fondo-con-conos-de-l%C3%BApulo-.jpg');
}

.beerList{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/282/631/657/alcohol-ale-bar-beer-wallpaper-preview.jpg');
}

.cart, .beerList{
    padding-left: 0px;
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
}
