.logo, .bg-light, .navContainer{
background-color:rgb(214, 181, 89) !important;
}

img {
    max-width: 80%;
    max-height: 100%;
    margin-left: 10%;
}
.navContainer{
    padding-left: 0px;
}
.nav-link{
    font-size: 18px;
}



