.background {
    height:500px;
    //size:unset;
    background:url('https://c4.wallpaperflare.com/wallpaper/282/631/657/alcohol-ale-bar-beer-wallpaper-preview.jpg') no-repeat; 
    background-size: cover;
    background-position: center;     

  }

  .about{
        margin-left: 10%;
  }

  .about p{
      font-size: 22px;
      color: black;
      text-shadow: 3px 3px 5px #d6b559;
      //text-shadow: #ffff00cf;
  }

  h1{
    text-shadow: 2px 2px 2px #d6b559;
  }

